<launch>

  <arg name="map_frame_id" default="dragonfly21/odom"/>
  <arg name="map_size_x" default="20"/>
  <arg name="map_size_y" default="20"/>
  <arg name="map_size_z" default="5"/>
  <arg name="map_x_origin" default="-10.0"/>
  <arg name="map_y_origin" default="-10.0"/>
  <arg name="map_z_origin" default="0.0"/>

  <!-- <arg name="cloud" default="/structure_map/global_gridmap"/> -->
  <arg name="clear_path"  default="$(find param_env)/clear_pos/clear_3d.csv"  />  <!--the positions that should be collision-free-->
  

  <node pkg ="param_env" name ="structure_map" type ="structure_map" output = "screen">    
    <!-- this is the map init position, not the odom-->
    <!-- <remap from="~global_cloud" to="$(arg cloud)"/> -->

    <param name="map/x_size"     value="$(arg map_size_x)" />
    <param name="map/y_size"     value="$(arg map_size_y)" />
    <param name="map/z_size"     value="$(arg map_size_z)" />
    <param name="map/x_origin"   value="$(arg map_x_origin)"/>
    <param name="map/y_origin"   value="$(arg map_y_origin)"/>
    <param name="map/z_origin"   value="$(arg map_z_origin)"/>

    <param name="map/resolution" value="0.2"/>        
    <param name="map/frame_id"     value="$(arg map_frame_id)" />
    <param name="map/inflate_radius" value="0.2"/> <!-- 0.3 m-->
    
    <param name="clear_path" value="$(arg clear_path)"/>
    <param name="clear_pos"    value="true"/>

    <!-- randomly change the map without trigger -->
    <param name="map/auto_change"    value="false"/>

    <!-- total obstacle ratios -->
    <param name="params/static_cylinder_ratio" value="0.01" type="double"/>
    <param name="params/static_circle_ratio"   value="0.00" type="double"/> <!-- 0.1 x others -->
    <param name="params/static_gate_ratio"     value="0.00" type="double"/> <!-- 0.1 x others -->
    <param name="params/static_ellip_ratio"    value="0.00" type="double"/>
    <param name="params/static_poly_ratio"     value="0.00" type="double"/>
    <param name="params/static_ball_ratio_"     value="0.00" type="double"/>
    <param name="params/dyn_cylinder_ratio" value="0.000" type="double"/>  <!-- only this can work for now-->
    <param name="params/dyn_circle_ratio"   value="0.000" type="double"/> <!-- 0.1 x others -->
    <param name="params/dyn_gate_ratio"     value="0.000" type="double"/> <!-- 0.1 x others -->
    <param name="params/dyn_ellip_ratio"    value="0.01" type="double"/>
    <param name="params/dyn_poly_ratio"     value="0.00" type="double"/>
    <param name="params/dyn_ball_ratio_"     value="0.00" type="double"/> <!-- only this can work for now-->

    <param name="params/w1" value="0.4"/>
    <param name="params/w2" value="0.4"/>
    <param name="params/w3" value="0.4"/>
    
    <!-- add gaussion noise with param/w1 range on it -->
    <param name="params/add_noise" value="false"/>
    <param name="params/seed" value="0.5"/>

    <!-- to generate map dataset in this folder -->
    <param name="dataset/save_map"    value="false"/>
    <param name="dataset/samples_num" value="100"/>
    <param name="dataset/start_index" value="5080900"/>
    <param name="dataset/path"        value="$(find param_env)/dataset/"/>

    <!--dynamic obs param-->
    <param name="dyn/v_x"    value="0.3"/>  <!-- for previous constant v version-->
    <param name="dyn/v_y" value="0.3"/>     <!-- for previous constant v version-->
    <param name="dyn/v_z" value="0.3"/>     <!-- for previous constant v version-->
    <param name="dyn/v_x_max"    value="0.25"/>
    <param name="dyn/v_y_max" value="0.25"/>
    <param name="dyn/v_z_max" value="0.25"/>
    <param name="dyn/a_x_max"    value="0.3"/>
    <param name="dyn/a_y_max" value="0.3"/>
    <param name="dyn/a_z_max" value="0.3"/>
    <param name="dyn/dt"        value="15"/>
    <param name="dyn/horizon"  value="25"/>
    <!--  BothDynStaticMode = 0, OnlyDynMode = 1, OnlyStaticMode = 2, RandomStaticMode = 3 -->
    <param name="dyn/map_mode"  value="0" type="int"/>

  </node>


  <arg name="rviz_config" default="$(find param_env)/launch/default.rviz"/>
  <node pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(arg rviz_config)"/>


</launch>
